*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    font-size: 1.2em;
    background: teal;
}
h1{
    color: tomato;
    font-size: 50px;
}
h2{
    font-size: 5em;
}
.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.square{
    height: 100px;
    width: 100px;
    border: 2px solid white;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.diszero{
    display: none;
}
